In [1]:
#necessary libraries of pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [2]:
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/19 20:49:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
df=spark.read.option('header',"true").csv("data.csv")

In [5]:
df.show()

+-------+---+---------+
|   name|age|     city|
+-------+---+---------+
| Manish| 26|Darbhangs|
| Ambika| 25|Gorakhpur|
|Chandra| 26|   Bareli|
+-------+---+---------+

In [6]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- city: string (nullable = true)

In [7]:
df=spark.read.option('header',"true").csv("data.csv",inferSchema=True)

In [8]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)

In [10]:
df.columns

['name', 'age', 'city']

In [12]:
df.head(3)

[Row(name='Manish', age=26, city='Darbhangs'),
 Row(name='Ambika', age=25, city='Gorakhpur'),
 Row(name='Chandra', age=26, city='Bareli')]

In [13]:
df.select('name')

DataFrame[name: string]

In [15]:
df.select('name').show()

+-------+
|   name|
+-------+
| Manish|
| Ambika|
|Chandra|
+-------+

In [17]:
type(df.select('name'))c

pyspark.sql.dataframe.DataFrame

In [18]:
type(df.select('name','age'))

pyspark.sql.dataframe.DataFrame

In [19]:
df.select(['name','age'])

DataFrame[name: string, age: int]

In [20]:
df.select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
| Manish| 26|
| Ambika| 25|
|Chandra| 26|
+-------+---+

In [21]:
df.dtypes

[('name', 'string'), ('age', 'int'), ('city', 'string')]

In [22]:
df.describe()

DataFrame[summary: string, name: string, age: string, city: string]

In [23]:
df.describe().show()

+-------+------+------------------+---------+
|summary|  name|               age|     city|
+-------+------+------------------+---------+
|  count|     3|                 3|        3|
|   mean|  null|25.666666666666668|     null|
| stddev|  null|0.5773502691896258|     null|
|    min|Ambika|                25|   Bareli|
|    max|Manish|                26|Gorakhpur|
+-------+------+------------------+---------+

In [ ]:
#Adding Dataframe in columns
from pyspark.sql.functions import lit
df.withColumn('Experience',lit([1,3,2]))

# Trying pyspark functions

In [18]:
from pyspark.sql import SparkSession

In [19]:
spark = SparkSession.builder.appName("app").master("local").getOrCreate()

In [20]:
df=spark.read.csv(path="data/employee-missing-records.dat",header=True)
df.show()

+--------+-----------+----------+--------------+
|col_name|col_company|col_salary|col_department|
+--------+-----------+----------+--------------+
|   Anand|       null|        -2|           R&D|
|  Naveen|      Cisco|   2000000|           R&D|
|   Pawan|     Cerner|   2100000|          null|
|    null|        IBM|      null|          null|
|  Girish|       null|        -1|          null|
| Kishore|        TCS|      null|          null|
|    null|    Ericson|      null|          null|
|    null|       null|      null|          null|
|    null|       null|        -1|          null|
+--------+-----------+----------+--------------+

In [21]:
df.printSchema()

root
 |-- col_name: string (nullable = true)
 |-- col_company: string (nullable = true)
 |-- col_salary: string (nullable = true)
 |-- col_department: string (nullable = true)

In [22]:
df.na.drop().show()

+--------+-----------+----------+--------------+
|col_name|col_company|col_salary|col_department|
+--------+-----------+----------+--------------+
|  Naveen|      Cisco|   2000000|           R&D|
+--------+-----------+----------+--------------+

In [23]:
# Both the function are giving the same output

df.dropna().show()

+--------+-----------+----------+--------------+
|col_name|col_company|col_salary|col_department|
+--------+-----------+----------+--------------+
|  Naveen|      Cisco|   2000000|           R&D|
+--------+-----------+----------+--------------+

In [24]:
df.dropna(subset="col_name").show()

+--------+-----------+----------+--------------+
|col_name|col_company|col_salary|col_department|
+--------+-----------+----------+--------------+
|   Anand|       null|        -2|           R&D|
|  Naveen|      Cisco|   2000000|           R&D|
|   Pawan|     Cerner|   2100000|          null|
|  Girish|       null|        -1|          null|
| Kishore|        TCS|      null|          null|
+--------+-----------+----------+--------------+

In [25]:
df.show()

+--------+-----------+----------+--------------+
|col_name|col_company|col_salary|col_department|
+--------+-----------+----------+--------------+
|   Anand|       null|        -2|           R&D|
|  Naveen|      Cisco|   2000000|           R&D|
|   Pawan|     Cerner|   2100000|          null|
|    null|        IBM|      null|          null|
|  Girish|       null|        -1|          null|
| Kishore|        TCS|      null|          null|
|    null|    Ericson|      null|          null|
|    null|       null|      null|          null|
|    null|       null|        -1|          null|
+--------+-----------+----------+--------------+

In [28]:
df.na.fill("NULL IN SOURCE").na.fill(0).na.replace(-1,1).show()
#its not repalacing -1 to 1 due to data type of col_salary is string

+--------------+--------------+--------------+--------------+
|      col_name|   col_company|    col_salary|col_department|
+--------------+--------------+--------------+--------------+
|         Anand|NULL IN SOURCE|            -2|           R&D|
|        Naveen|         Cisco|       2000000|           R&D|
|         Pawan|        Cerner|       2100000|NULL IN SOURCE|
|NULL IN SOURCE|           IBM|NULL IN SOURCE|NULL IN SOURCE|
|        Girish|NULL IN SOURCE|            -1|NULL IN SOURCE|
|       Kishore|           TCS|NULL IN SOURCE|NULL IN SOURCE|
|NULL IN SOURCE|       Ericson|NULL IN SOURCE|NULL IN SOURCE|
|NULL IN SOURCE|NULL IN SOURCE|NULL IN SOURCE|NULL IN SOURCE|
|NULL IN SOURCE|NULL IN SOURCE|            -1|NULL IN SOURCE|
+--------------+--------------+--------------+--------------+

In [30]:
df = df.withColumn("col_salary", col("col_salary").cast("int"))
df.printSchema

In [31]:
   df.na.fill("NULL IN SOURCE").na.fill(0).na.replace(-1, 1, subset=["col_salary"]).na.replace(-2, 2, subset=[
       "col_salary"]).show()

+--------------+--------------+----------+--------------+
|      col_name|   col_company|col_salary|col_department|
+--------------+--------------+----------+--------------+
|         Anand|NULL IN SOURCE|         2|           R&D|
|        Naveen|         Cisco|   2000000|           R&D|
|         Pawan|        Cerner|   2100000|NULL IN SOURCE|
|NULL IN SOURCE|           IBM|         0|NULL IN SOURCE|
|        Girish|NULL IN SOURCE|         1|NULL IN SOURCE|
|       Kishore|           TCS|         0|NULL IN SOURCE|
|NULL IN SOURCE|       Ericson|         0|NULL IN SOURCE|
|NULL IN SOURCE|NULL IN SOURCE|         0|NULL IN SOURCE|
|NULL IN SOURCE|NULL IN SOURCE|         1|NULL IN SOURCE|
+--------------+--------------+----------+--------------+

In [33]:
df.na.fill("NULL IN SOURCE").na.fill(0).na.replace(-1,1, subset=["col_salary"]).show()

+--------------+--------------+----------+--------------+
|      col_name|   col_company|col_salary|col_department|
+--------------+--------------+----------+--------------+
|         Anand|NULL IN SOURCE|        -2|           R&D|
|        Naveen|         Cisco|   2000000|           R&D|
|         Pawan|        Cerner|   2100000|NULL IN SOURCE|
|NULL IN SOURCE|           IBM|         0|NULL IN SOURCE|
|        Girish|NULL IN SOURCE|         1|NULL IN SOURCE|
|       Kishore|           TCS|         0|NULL IN SOURCE|
|NULL IN SOURCE|       Ericson|         0|NULL IN SOURCE|
|NULL IN SOURCE|NULL IN SOURCE|         0|NULL IN SOURCE|
|NULL IN SOURCE|NULL IN SOURCE|         1|NULL IN SOURCE|
+--------------+--------------+----------+--------------+

## convert to int datatype

In [37]:
from pyspark.sql.functions import col

# create a sample DataFrame with a string column
data = [("1", "John"), ("2", "Jane"), ("3", "Bob")]
df1 = spark.createDataFrame(data, ["id", "name"])
df1.printSchema()


# cast the 'id' column to an integer datatype
df1 = df1.withColumn("id", col("id").cast("int"))

# print the schema of the DataFrame
df1.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

# UDF - User Defined Function

In [40]:


from pyspark.sql import SparkSession
from pyspark.sql.functions import udf,col
from pyspark.sql.types import StringType

In [41]:
def convert_case(str):
    return str.title()

In [42]:
str="manish"

In [43]:
convert_case(str)

'Manish'

In [52]:
spark = SparkSession.builder.appName("app").master("local").getOrCreate()

data = [(1,"manish kumar"), (2, "avnish tiwari"), (3,"sahil yadav")]
df = spark.createDataFrame(data,schema=("id","name"))

In [53]:
df.show()

+---+-------------+
| id|         name|
+---+-------------+
|  1| manish kumar|
|  2|avnish tiwari|
|  3|  sahil yadav|
+---+-------------+

In [57]:
convert_to_title_case = udf(lambda x: convert_case(x),StringType())

In [58]:
df.select(convert_to_title_case(col("name")).alias("Name")).show()

+-------------+
|         Name|
+-------------+
| Manish Kumar|
|Avnish Tiwari|
|  Sahil Yadav|
+-------------+